<!DOCTYPE html>
<html>
  <head>
    <title>Tentang Author</title>
    <link rel="icon" href="/img/cuaca.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

<body>
<div class="main-content">
      {{>header}}
<section class="resume">
	<div class="resume_left">
	    <div class="r_profile_pic">
	      <img src="img/egi.png" alt="profile_pic">
	    </div>
	    <div class="r_left_sub">
	      <div class="r_aboutme">
	        <h2>About me</h2>
	        <p>Saya adalah seorang mahasiswa Unp jurusan Informatika. Saya memiliki ketertarikan khusus dalam pengembangan perangkat lunak, analisis data, dan kecerdasan buatan. Selama studi saya, saya telah belajar berbagai bahasa pemrograman seperti Python, Java, dan JavaScript, serta memperdalam pengetahuan saya dalam konsep-konsep fundamental seperti algoritma dan struktur data.</p>
	      </div>
	      
	      
	    </div>
	</div>
	<div class="resume_right">
	    <div class="r_namerole">
	      <p>Egi Yoni Sandra</p>
	      
	      <p class="role"></p>
	    </div>
	    <div class="r_info">
	      <ul>
	        <li>
	          <p>egiyonisandra@gmail.com</p>
	        </li>
	        <li>
	          
	        </li>
	      </ul>
	    </div>
	    <div class="r_right_sub">
	      <div class="r_education">
	        <h2>Sertifikat Kompetensi</h2>
	        <ul>
	          <li>
	            <div class="r_ed_left">
	              <p>2019</p>
	            </div>
	            <div class="r_ed_right">
	              <p>Cisco Certified Network Associate (CCNA)</p>
	              </div>
	          </li>
	          <li>
	            <div class="r_ed_left">
	              <p>2020</p>
	            </div>
	            <div class="r_ed_right">
	              <p>Certified Ethical Hacker (CEH)</p>
	              </div>
	          </li>
	          <li>
	            <div class="r_ed_left">
	              <p>2021</p>
	            </div>
	            <div class="r_ed_right">
	              <p>CompTIA Network</p>
	              </div>
	          </li>
	        </ul>
	      </div>
	      <div class="r_jobs">
	        <h2>Skills & Hobby</h2>
	        <ul>
	          <li>
	            
	            <div class="r_ed_right">
	              <p>Youtuber</p>
		            </div>
	          </li>
	          <li>
	            
	            <div class="r_ed_right">
	              <p>It Network Sistem Adminisrator</p>
	             </div>
	          </li>
	          <li>
	            
	            <div class="r_ed_right">
	              <p>Futsal</p>
	              </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	</div>
</section>
</div>
    {{>footer}}
</body>
</html>